<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Password reset</h1>

    <p>

        Your account has been reset, please follow the link below to create a new password

    </p>

    <a href="{{frontend_link}}" style="border: none;border-radius: 6px; background-color: slateblue; padding: 10px 20px; color: aliceblue">

        Reset your password

        <a>

</body>

</html>